Django==5.2.4
psycopg2-binary==2.9.10
celery[redis]==5.5.3
djangorestframework==3.16.0
requests==2.32.4
psutil==7.0.0
pillow
drf-yasg>=1.20.0
streamlink
python-vlc
yt-dlp
gevent==25.5.1
daphne
uwsgi
django-cors-headers
djangorestframework-simplejwt
m3u8
rapidfuzz==3.13.0
regex # Required by transformers but also used for advanced regex features
tzlocal

# PyTorch dependencies (CPU only)
--extra-index-url https://download.pytorch.org/whl/cpu/
torch==2.7.1+cpu

# ML/NLP dependencies
sentence-transformers==5.1.0
channels
channels-redis==4.3.0
django-filter
django-celery-beat
lxml==6.0.0
